<mat-card>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    <div class="details">
        <mat-card-header><mat-card-title>Book title</mat-card-title></mat-card-header>
        <mat-card-content>
            <span>Reviews: 40</span>
            <span>Rating: 4.2</span>
        </mat-card-content>
    </div>
    <mat-card-actions>
        <button mat-icon-button class="edit">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="view">
            <mat-icon>visibility</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>