mat-tab-group{
    max-height: 280px;
    .wrapper{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: center;
        app-book-list-item{
            flex: 0 1 35%;
        }  
    }
}