mat-card{
    flex:0 1 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    mat-card-content{
        width: 90%;
        form{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            .left{
                flex: 0 1 50%;
                display: flex;
                flex-flow: column nowrap;
                align-items: stretch;
                mat-label{
                    font-size: x-small;
                }
                .cover-upload{
                    display: flex;
                    flex-flow: row nowrap;
                    .file-input{
                        display: none;
                    }
                    mat-form-field{
                        flex: 1 90%;
                    }
                }
            }
            .right{
                flex: 0 1 50%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-evenly;
                align-items: center;
                mat-form-field{
                    flex: 1 100%;
                    display: flex;
                    flex-flow: column;
                    textarea{
                        resize:100%;
                        flex: 1
                    }
                }
            }

        }
    }
}